body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px;
  height: 50vh;
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
}

.numbers {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.btns {
  height: 10vh;
  width: 100px;
  font-size: 25px;
  font-weight: 500;
  background-color: purple;
  text-decoration: none;
  border: none;
  border-radius: 50%;
}

#sum-el {
  padding-left: 50px;
  color: black;
  font-size: 25px;
  font-weight: 600;
}
